
div{
    text-align: justify;
}

.subtitle {
    float:left
    
  }

.right-text {
    float: right;
} 

.bottom {
    height: 50vh;
    background-color: #4A8CA2;
    margin: 15px;
    padding: 5px;
    padding-top: 0px;
    width: 170vh;
    min-width: 300px;
    text-align: center;
    border-radius: 15px;
    justify-content: center;
    opacity: 0.9;
    margin: auto;
}
.outer {
    width: 90%;
    height: 92vh;
    margin-left: auto;
    margin-right: auto;
    -ms-overflow-style: none;
    overflow: auto;
}

.outer::-webkit-scrollbar {
    display: none;
}

.inner {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.left {
    float: left;
    width: 124vh;
    display: flex;
    flex-direction: column;
    background-color: #4A8CA2;
    margin: 15px;
    padding: 5px;
    padding-top: 0px;
    opacity: 1;
    border-radius: 15px;
}

.cwhq {
    -ms-overflow-style: none;
}

.cwhq::-webkit-scrollbar {
    display: none;
}

.right {
    float: right;
    width: 51vh;
    margin: 15px;
    padding: 5px;
    padding-top: 0px;
    border-radius: 15px;
}

.AltR {
    float: right;
    width: 51vh;
    margin: 15px;
    padding: 5px;
    padding-top: 0px;
    border-radius: 15px;
}

.AltL {
    float: left;
    width: 100%;
    height: 45vh;
    background-color: #4A8CA2;
    margin: 15px;
    padding: 5px;
    padding-top: 0px;
    opacity: 1;
    border-radius: 15px;
}

.titles {
    margin-top: 5px;
}

img {
    opacity: 1;
}

.descriptionbox {
    background-color: #cae3ec;
    border-radius: 15px;
    margin: 15px;
}

.description {
    display: block;
    margin: 20px;
    font-size: 2.6vh;
}

@media only screen and (max-width: 1020px) {
    .AltR {
        display: none;
    }
    .inner {
        flex-direction: column-reverse;
    }
    .left {
        width: 100%;
    }
}