
div{
    text-align: justify;
}

.subtitle {
    float:left
    
  }

.right-text {
    float: right;
} 

.bottom {
    height: 50vh;
    background-color: #4A8CA2;
    margin: 15px;
    padding: 5px;
    padding-top: 0px;
    width: 170vh;
    min-width: 300px;
    text-align: center;
    border-radius: 15px;
    justify-content: center;
    opacity: 0.9;
    margin: auto;
}
.outer {
    width: 90%;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
}
.inner {
    height: 50vh;
    width: 90%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.left {
    float: left;
    width: 124vh;
    height: 45vh;
    background-color: #4A8CA2;
    margin: 15px;
    padding: 5px;
    padding-top: 0px;
    opacity: 1;
    border-radius: 15px;
}

.right {
    float: right;
    width: 51vh;
    margin: 15px;
    padding: 5px;
    padding-top: 0px;
    border-radius: 15px;
}

.AltR {
    float: right;
    width: 51vh;
    margin: 15px;
    padding: 5px;
    padding-top: 0px;
    border-radius: 15px;
}

.AltL {
    float: left;
    width: 124vh;
    height: 45vh;
    background-color: #4A8CA2;
    margin: 15px;
    padding: 5px;
    padding-top: 0px;
    opacity: 1;
    border-radius: 15px;
}

.titles {
    margin-top: 5px;
}

img {
    opacity: 1;
}

.description {
    display: block;
    width: 85vh;
    margin-left: auto;
    margin-right: auto;
    font-size: 2.3vh;
}