/* 
  This affects all templates. 
  Only update this css file if intending to apply universal styling to all templates
 */

.switch {
  margin: 5px;
  position: absolute;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  outline: 2px solid black;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: black;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: black;
  outline: 2px solid white;
}

input:checked + .slider:before {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.active-bar {
  background-color: #b0d7e5;
  border-radius: 10px;
}

h1 {
  font-family: "Suez One", serif;
  text-align: center;
}

p {
  font-family: "Oxygen", sans-serif;
  text-align: center;
}

.logo {
  width: 14vh;
  height: 8vh;
  margin-left: 85vh;
  overflow: visible;
  position: absolute;
  z-index: 1;
  margin-top: -4.5vh;
}

.image-container {
  display: inline-block;
}

#WizType {
  height: 36vh;
  width: auto;
  margin-left: 3vh;
}

#WizFont {
  height: 5vh;
  width: auto;
  margin-top: 15vh;
  margin-left: 5vh;
}

#WizFont1 {
  height: 5vh;
  width: auto;
  margin-top: 15vh;
  margin-left: 5vh;
}

.cwhq {
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('/static/stylesheets/background.jpg'); /* Initial background image for light mode */
  transition: background 0.3s;
}

#dark-mode-toggle:before ~ body {
  background-image: url("/static/stylesheets/darkbackground.jpg");
}
