/* 
  This affects all templates. 
  Only update this css file if intending to apply universal styling to all templates
 */

.switch {
  margin: 5px;
  position: absolute;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  outline: 2px solid black;
  border-radius: 34px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
.darkmodetext {
  margin: auto;
}
.darkmodetext2 {
  color: white;
}
.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: black;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: black;
  outline: 2px solid white;
}

input:checked + .slider:before {
  background-color: white;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
  transition: transform 0.3s;
}

.active-bar {
  background-color: #b0d7e5;
  border-radius: 10px;
}


h1 {
  font-family: "Suez One", serif;
  text-align: center;
  color: darkslategray;
}

p {
  font-family: "Oxygen", sans-serif;
  text-align: center;
}

.logo {
  width: 116px;
  height: 60px;
  margin-left: 46.4%;
  overflow: visible;
  position: absolute;
  z-index: 1;
  margin-top: -1.8%;
}

.image-container {
  display: inline-block;
  width: 100%;
}

.cwhq {
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("/static/img/background.png"); /* Initial background image for light mode */
  transition: background-image 0.5s, opacity 0.7s;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
  opacity: 0;
}

.navbar-nav {
  cursor: pointer;
}

.image-container-center {
  display: inline-block;
  width: 100%;
  background-image: url("/static/img/WizType.png");
  transition: background 0.3s;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dark-image-container-center {
  display: inline-block;
  width: 100%;
  background-image: url("/static/img/darkWizType.png");
  transition: background 0.3s;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.input:checked + .slider ~ body {
  background-image: url("/static/img/darkbackground.png");
}

.input:checked + .slider ~ .image-container-center {
  background-image: url("/static/img/darkWizType.png");
}

@font-face {
  font-family: WizFont;
  src: url(/static/img/QuiteMagicalRegular-8VA2.ttf);
}

.wizfont {
  font-family: WizFont;
  font-size: 4vw;
  margin-top: 18%;
  transition: 0.3s;
}

.wizfontdark {
  font-family: WizFont;
  font-size: 4vw;
  margin-top: 18%;
  color: white;
}

.wizfont2 {
  font-family: WizFont;
  font-size: 4vw;
  margin-top: 18%;
  transition: 0.3s;
}

.wizfontdark2 {
  font-family: WizFont;
  font-size: 4vw;
  margin-top: 18%;
  color: white;
}

@media only screen and (max-width: 1020px) {
  .image-container {
    display: none;
  }
  .testlist,
  .test,
  .explanation {
    width: 100%;
  }
  .bottom {
    display: inline-block;
    overflow: auto;
    padding: 3px;
    -ms-overflow-style: none;
  }
  .bottom::-webkit-scrollbar {
    display: none;
  }
  .bottom {
    justify-content: center;
  }
  .widget {
    margin: unset;
    height: unset;
    width: unset;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .test {
    margin: unset;
    flex-direction: column;
    height: fit-content;
    margin-top: 10px;
  }
  .explanation {
    border-width: 10px;
    margin: unset;
    border-radius: 25px;
  }
  .testname {
    font-size: 2em;
  }
  .instruction {
    font-size: 1em;
  }
  .keyboard {
    display: none;
  }
  .outer {
    height: 91vh;
  }
  #underline {
    margin-top: 6.9%;
  }
  #gameOver {
    font-size: 15px;
  }
  #retry {
    font-size: 17px;
  }
}
