body {
    font-family: Arial, sans-serif;
    text-align: center;
  }

  #race-container {
    margin-top: 50px;
  }

  #text-to-type {
    font-size: 18px;
    margin-bottom: 20px;
  }

  #user-input {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
  }

  #timer {
    font-size: 18px;
    margin-top: 20px;
  }

  textarea {
    background-color: #4a8ca2
  }

  #retry-btn {
    border: 4px;
    background-color: #cae3ec;
    justify-content: center;
    font-weight: bold;
  }