/*body {
    font-family: Arial, sans-serif;
    text-align: center;
  }

  #race-container {
    margin-top: 50px;
    margin-right: auto;

  }

  #text-to-type {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  #user-input {
    font-size: 16px;
    padding: 10px;
  }

  #timer {
    font-size: 18px;
    margin-top: 20px;
  }

  textarea {
    background-color: #24a9ca74;
  }

  #quote-source {
    font-style: italic;
    margin-top: 10px;
}



  #retry-btn {
    border-radius: 4px;
    background-color: #24a8ca;
    font-weight: bold;
    display: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }*/

body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#game-container {
    display: flex;
}

#quote-container {
    max-width: 500px;
    margin: 0 auto;
}

#widget {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
}

input {
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
}

p {
    margin: 5px 0;
}

#quote-source {
    font-style: italic;
    margin-top: 10px;
}

button {
    display: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}