.tests_gen {
    position: absolute;
    width: 145px;
    height: 71px;
    left: 314px;
    top: 232px;

    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;

    color: #000000;
}
.words_typed {
    position: absolute;
    width: 145px;
    height: 71px;
    left: 513px;
    top: 231px;

    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;

    color: #000000;
}
.wpm {
    position: absolute;
    width: 145px;
    height: 71px;
    left: 712px;
    top: 231px;

    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;

    color: #000000;
    
}
.nine{
    position: absolute;
    width: 145px;
    height: 71px;
    left: 911px;
    top: 232px;

    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 51px;

    color: #000000;

    
}
.one{
    position: absolute;
    width: 280px;
    height: 200px;
    left: -4px;
    top: -21px;
    display: flex;
    height: 157px;
    justify-content: center;
    align-items: center;
    align-self: stretch;

}
.dos {
    position: absolute;
    width: 280px;
    height: 200px;
    left: -4px;
    top: -21px;
    display: flex;
    height: 157px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}
.in_naming_we_pray {
    

    position: absolute;
    width: 280px;
    height: 200px;
    left: -4px;
    top: -21px;
    display: flex;
    height: 157px;
    justify-content: center;
    align-items: center;
    align-self: stretch;



    
}
img {
    opacity: 1;
}










    
    

    



    













