.tests_gen {
  position: absolute;
  width: 145px;
  height: 71px;
  left: 314px;
  top: 232px;

  font-family: "Oxygen";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;

  color: #000000;
}
.words_typed {
  position: absolute;
  width: 145px;
  height: 71px;
  left: 513px;
  top: 231px;

  font-family: "Oxygen";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;

  color: #000000;
}
.wpm {
  position: absolute;
  width: 145px;
  height: 71px;
  left: 712px;
  top: 231px;

  font-family: "Oxygen";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;

  color: #000000;
}
.nine {
  position: absolute;
  width: 145px;
  height: 71px;
  left: 911px;
  top: 232px;

  font-family: "Oxygen";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;

  color: #000000;
}
.one {
  position: absolute;
  width: 280px;
  height: 200px;
  left: 303px;
  top: 379px;
  display: flex;
  height: 157px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.dos {
  position: absolute;
  width: 280px;
  height: 200px;
  left: 646px;
  top: 379px;
  display: flex;
  height: 157px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
.in_naming_we_pray {
  position: absolute;
  width: 280px;
  height: 200px;
  left: 979px;
  top: 379px;
  display: flex;
  height: 157px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}
img {
  opacity: 1;
}

body {
  margin: 0;
  padding: 20px;
  background-color: #4a8ca2;
}

h1 {
  text-align: center;
  color: #19547b;
}

.stats-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 20px;
  background-color: #4a8ca2;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
}

.stats-section {
  width: 60%;
  padding-right: 20px;
  box-sizing: border-box;
  height: auto;
  min-height: 400px; /* Set a minimum height */
}

.stats-section .stat {
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 12px;
  background-color: #d6edf6;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  line-height: 1.8;
}

.stats-section .stat:last-child {
  margin-bottom: 0;
}

.stats-section .stat strong {
  display: inline-block;
  font-weight: bold;
  color: #19547b;
}

.recent-tests {
  width: 40%;
  padding: 20px;
  border-radius: 20px;
  background-color: #d6edf6;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
  min-height: 300px; /* Set a minimum height */
}

.difficulty {
  display: block;
  font-weight: bold;
  font-size: 18px;
  color: #19547b;
  margin-bottom: 10px;
}

.score-date {
  display: flex;
  flex-direction: column;
}

.date,
.score {
  font-size: 14px;
  color: #19547b;
}

.recent-tests h2 {
  color: #19547b;
  margin-bottom: 15px;
}

.test {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: #c3dbe2;
}

.test strong {
  display: block;
  font-weight: bold;
  color: #19547b;
}

/* Styling for the Google charts */
.charts-section {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

  .stats-container {
    width: 90%;
    height: 84.3vh;
    margin-left: auto;
    margin-right: auto;
    -ms-overflow-style: none;
    overflow: auto;
  }
  
  .stats-container::-webkit-scrollbar {
    display: none;
  }

.chart {
  width: 30%;
  margin-right: 3%;
  padding: 20px;
  border-radius: 20px;
  background-color: #f0f8ff; /* Icy blue background color */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

#chart1,
#chart2,
#chart3 {
  width: 100%;
  height: 25vh;
  margin-top: 15px;
  border-radius: 12px;
  background-color: #f6f9fa;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.try-again-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: #4a8ca2;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.try-again-btn:hover {
  background-color: #45a049;
}

@media only screen and (max-width: 1020px) {
  .recent-tests {
    width: 100%;
  }
  .stats-section {
    width: 100%;
  }
  .charts-section {
    flex-direction: column;
    margin: 20px;
  }
  .chart {
    width: 100%;
    margin-right: 0px;
    margin-top: 17px;
    height: 325px;
    padding: none;
  }
  #chart1, #chart2, #chart3 {
    height: 250px;
  }

}