{% extends "layout.html" %}
{% block styles %}
<!--<link href='{{url_for("static", filename="stylesheets/404.css")}}' rel='stylesheet'/>-->
{% endblock %} <!-- dont forget to end your block :) -->
{% set title="404" %}

{% block content %}
<body>
  <img src="/static/img/wizardrage.png" alt="angry wizard" width="1700" height="800">
</body>

<div class="widget404">
  <img src="/static/img/wizardrage.png">
  <div class="text-overlay">
    
  </div>
  <h1> error 404:</h1>
  <h1> page not found</h1>
</div>
{% endblock %}