<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Lato&display=swap" rel="stylesheet">
  </head>
  <body>


    <div class="container">
        
      <div class='navbar'>
        <p class="title">WizardType</p>
        <a href="home.html"><p class='nav-button'>Home</p></a>
        <a href="about.html"><p class='nav-button selected' >About</p></a>
      </div>

      
    <div class='main'>
          <div class="title header">
            About us
          </div>
          <div class="subtitle">
            <p>CodeWizardsHQ gives students the necessary skills to build platforms like this one. Over the course of several years of study in live, online coding classes, students acquired the necessary skills to develop and deploy a full-stack web application that helps users solve real-world problems.</p>
        </div>

        <div class="text_2">
            <p style="text-align:left;">Students learn skills necessary to become successful back end developers, such as Python, Flask, and databases. They also spend several courses learning and applying front end concepts such as design frameworks, interactive webpages, and more. As a culmination of all of their CodeWizardsHQ coursework, students apply for and are selected to participate in a months-long group project.

                Teaching kids to type on the keyboard is crucial in the modern world dominated by digital communication. Proficient typing skills empower children to effectively express their thoughts and ideas, fostering communication and self-expression. Additionally, typing proficiency enhances productivity and efficiency, allowing children to complete tasks more quickly and accurately. As technology continues to evolve, strong keyboarding skills become increasingly vital for academic and professional success. By starting early, children can develop a valuable skill set that will benefit them throughout their lives in an increasingly digital society.
                
                Wizard-Type is an invaluable tool for teaching kids to typo on the keyboard. With its endless, free typing practice, students can refine their skills at their own pace. The ability to customize difficulty levels and duration of practice sessions ensures that each student’s needs and abilities are catered to. Moreover, Wizard-Type offers encouraging progress updates, serving as a constant source of motivation for students as they strive to master the keyboard. By incorporating this engaging and interactive platform into their learning, students are inspired to develop strong typing skills that will benefit them in various aspects of their lives.</p>

        </div>

      </div>
    </div>
  </body>
</html>