<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/about.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheets/layout.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Lato&display=swap" rel="stylesheet">
  
  </head>
  <body>


    <div class="container">
        
      <div class='navbar'>
        <p class="title">WizardType</p>
        <a href="home.html"><p class='nav-button'>Home</p></a>
        <a href="about.html"><p class='nav-button selected'>About us</p></a>
      </div>

    
      <div class='main'>
        <h1>About us</h1>

          <div class="subtitle">
            <p>Welcome to our CodeWizards Internship project: WizardType. WizardType is a typing game similar to another I will not name *cough cough* Typeracer. We're building this website over the course of 12 weeks during our internship. Our team includes: Aberrash, Daniel, Joshua, Juliania, Kathleen, Medhin, and Nick. We hope you enjoy our site and have loads of fun with it :D</p>
      </div>

        <div class="container">         
        <p class="right-text">Students learn skills necessary to become successful back end developers, such as Python, Flask, and databases. They also spend several courses learning and applying front end concepts such as design frameworks, interactive webpages, and more. As a culmination of all of their CodeWizardsHQ coursework, students apply for and are selected to participate in a months-long group project.

          Teaching kids to type on the keyboard is crucial in the modern world dominated by digital communication. Proficient typing skills empower children to effectively express their thoughts and ideas, fostering communication and self-expression. Additionally, typing proficiency enhances productivity and efficiency, allowing children to complete tasks more quickly and accurately. As technology continues to evolve, strong keyboarding skills become increasingly vital for academic and professional success. By starting early, children can develop a valuable skill set that will benefit them throughout their lives in an increasingly digital society.
          
          Wizard-Type is an invaluable tool for teaching kids to typo on the keyboard. With its endless, free typing practice, students can refine their skills at their own pace. The ability to customize difficulty levels and duration of practice sessions ensures that each student’s needs and abilities are catered to. Moreover, Wizard-Type offers encouraging progress updates, serving as a constant source of motivation for students as they strive to master the keyboard. By incorporating this engaging and interactive platform into their learning, students are inspired to develop strong typing skills that will benefit them in various aspects of their lives. - filler for the time being as i get to know our team and what to include.</p>
        <div>
      </div>
    </div>
  </body>
</html>