{% extends 'layout.html' %}
{% set title="Paragraph" %}
{% block styles %}
    <link href='{{url_for("static", filename="stylesheets/paragraph.css")}}' rel='stylesheet'/>
    <link href='{{url_for("static", filename="stylesheets/layout.css")}}' rel='stylesheet'/>
{% endblock %}
{% block e %} active-bar {% endblock %}
{% block content %}
<div id="race-container">
    <p id="text-to-type"></p>
    <textarea type="text" id="user-input" rows="6" cols="55" disabled></textarea>
    <p id="countdown"></p>
    <p id="quote-source"></p>
    <p id="accuracy"></p>
    <p id="wpm"></p>
    <p id="warning-message" style="color: red; display: none;">Warning: Please click the button only once to avoid breaking the game.</p>
    <button id="retry-btn" onclick="startCountdown()">Keep typing?</button>
    <audio id="error-sound" src="/static/computer_error_sound_effect.mp3"></audio>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
    const quotes = [
        { text:"When I found out the patriarchy wasn't about horses, I lost interest anyway.", source: "Barbie (2023)" },// "Barbie (2023)"
        { text:"Humans only have one ending. Ideas live forever.", source: "Barbie (2023)" },// "Barbie (2023)"
        { text:"Why should Caesar get to stomp around like a giant while the rest of us try not to get smushed under his big feet? What's so great about Caesar, hm? Brutus is just as cute as Caesar. Brutus is just as smart as Caesar, people totally like Brutus as much as they like Caesar. WE SHOULD TOTALLY JUST STAB CAESAR!", source: "Mean Girls (2004)" },// "Mean Girls (2004)"
        { text:"What Do You Mean 'Broke'? Like, Martha Stewart 'Broke'? Or MC Hammer 'Broke?'", source: "White Chicks (2004)" },// "White Chicks (2004)"
        { text:"So, OK, like right now, for example, the Haitians need to come to America. But some people are all, \"what about the strain on our resources?\" But it's like when I had this garden party for my father's birthday, right? I said RSVP because it was a sit-down dinner. But people came that, like, did not RSVP. So I was, like, totally buggin'. I had to haul ass to the kitchen, redistribute the food, squish in extra place settings. But, by the end of the day it was, like, the more the merrier!", source: "Clueless (1955)" },
        { text:"Everything is simply a shape, a form, an identifier to let others recognize me as me! But then, what am I? Is this me? My true self? My fake self? What is it that I am? Nobody understands me!", source: "Neon Genesis Evangelion" },
        { text:"Life is not a waste of time. And time is not a waste of life. So let's stop wasting time, get wasted, and have the time of our lives.", source: "Pitbull on X" },
        { text:"I don't want to live in a hole anymore. It makes me feel poor. We are poor, but we're happy. Comme-ci, comme-ca. Anyway, the views are better above ground. I'm seven non-fox-years old now. My father died at seven and a half. I don't want to live in a hole anymore, and I'm going to do something about it.", source: "Fantastic Mr. Fox (2009)" },
        { text:"I don't talk about feelings, Alfred. I don't have any, I've never seen one. I'm a night-stalking, crime-fighting vigilante, and a heavy metal rapping machine. I don't feel anything emotionally, except for rage.", source: "The LEGO Batman Movie (2017)" },
        { text:"Ask for money and get advice, huh. Ask for advice, get money twice, huh.", source: "Pitbull - Feel This Moment"}
        // Add more quotes as needed
    ];

    const textElement = document.getElementById("text-to-type");
    const userInput = document.getElementById("user-input");
    const retryButton = document.getElementById("retry-btn");
    const quoteSourceElement = document.getElementById("quote-source");
    const warningMessage = document.getElementById("warning-message");
    const wpmElement = document.getElementById("wpm");
    const accuracyElement = document.getElementById("accuracy");
    const errorSound = new Audio("error.mp3");

    let currentQuoteIndex = -1;
    let startTime;
    let wordCount;
    let correctCharacters = 0;
    let totalCharacters = 0;

    function shuffleQuotes() {
        for (let i = quotes.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [quotes[i], quotes[j]] = [quotes[j], quotes[i]];
        }
    }

    function startGame() {
        shuffleQuotes();
        currentQuoteIndex = 0;
        const currentQuote = quotes[currentQuoteIndex];

        textElement.innerText = currentQuote.text;
        quoteSourceElement.innerText = "";
        userInput.removeAttribute("disabled");
        userInput.value = "";
        userInput.classList.remove("incorrect");
        userInput.focus();

        retryButton.style.display = "none";
        warningMessage.style.display = "none";
        wpmElement.innerText = "";
        accuracyElement.innerText = "";
        startTime = new Date().getTime();
        wordCount = 0;
        correctCharacters = 0;
        totalCharacters = currentQuote.text.replace(/\s+/g, "").length;
    }

    function endGame() {
        userInput.setAttribute("disabled", "true");
        retryButton.style.display = "block";
        warningMessage.style.display = "block";

        quoteSourceElement.innerText = `Quote from: ${getCurrentQuote().source}`;

        const elapsedTime = (new Date().getTime() - startTime) / 1000;
        const minutes = Math.floor(elapsedTime / 60);
        const seconds = Math.round(elapsedTime % 60);

        if (wordCount > 0) {
            const wpm = calculateWPM(wordCount, elapsedTime);
            wpmElement.innerText = `WPM: ${wpm}`;
        }

        if (totalCharacters > 0) {
            const accuracy = calculateAccuracy(correctCharacters, totalCharacters);
            accuracyElement.innerText = `Accuracy: ${(accuracy / 100).toFixed(2)}%`;
        }
    }

    function getCurrentQuote() {
        return quotes[currentQuoteIndex] || { source: "Unknown" };
    }

    userInput.addEventListener("input", function () {
        const userInputText = userInput.value;
        const targetText = textElement.innerText;

        let isMistake = false;

        for (let i = 0; i < userInputText.length; i++) {
            if (userInputText[i] !== targetText[i]) {
                isMistake = true;
                break;
            } else {
                correctCharacters++;
            }
        }

        if (isMistake) {
            userInput.classList.add("incorrect");
            const errorSound = document.getElementById("error-sound");
            if (errorSound) {
                errorSound.play();
            }
        }

        if (userInputText === targetText) {
            const words = userInputText.split(/\s+/).filter(word => word !== "");
            wordCount += words.length;
                endGame();
            
        }
    });

    retryButton.addEventListener("click", startGame);

    startGame();
});


function calculateWPM(words, time) {
    const minutes = time / 60;
    const wpm = Math.round(words / minutes);
    return wpm;
}

function calculateAccuracy(correct, total) {
    return ((correct / total) * 100);
}
</script>
{% endblock %}