{% extends 'layout.html' %}
{% set title="Paragraph" %}
{% block styles %}
    <link href='{{url_for("static", filename="stylesheets/paragraph.css")}}' rel='stylesheet'/>
    <link href='{{url_for("static", filename="stylesheets/layout.css")}}' rel='stylesheet'/>
{% endblock %}
{% block e %} active-bar {% endblock %}
{% block content %}
<div id="race-container">
    <p id="text-to-type"></p>
    <textarea type="text" id="user-input" rows="6" cols="55" disabled></textarea>
    <p id="countdown"></p>
    <p id="quote-source"></p>
    <p id="accuracy"></p>
    <p id="wpm"></p>
    <p id="warning-message" style="color: red; display: none;">Warning: Please click the button only once to avoid breaking the game.</p>
    <button id="retry-btn">Keep typing?</button>
    <audio id="error-sound" src="/static/computer_error_sound_effect.mp3"></audio>
  </div>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
    const quotes = [
        { text:"When I found out the patriarchy wasn't about horses, I lost interest anyway.", source: "Barbie (2023)" },// "Barbie (2023)"
        { text:"Humans only have one ending. Ideas live forever.", source: "Barbie (2023)" },// "Barbie (2023)"
        { text:"Why should Caesar get to stomp around like a giant while the rest of us try not to get smushed under his big feet? What's so great about Caesar, hm? Brutus is just as cute as Caesar. Brutus is just as smart as Caesar, people totally like Brutus as much as they like Caesar. WE SHOULD TOTALLY JUST STAB CAESAR!", source: "Mean Girls (2004)" },// "Mean Girls (2004)"
        { text:"What do you mean 'broke'? Like, Martha Stewart 'broke'? Or MC Hammer 'broke'?", source: "White Chicks (2004)" },// "White Chicks (2004)"
        //{ text:"So, OK, like right now, for example, the Haitians need to come to America. But some people are all, \"what about the strain on our resources?\" But it's like when I had this garden party for my father's birthday, right? I said RSVP because it was a sit-down dinner. But people came that, like, did not RSVP. So I was, like, totally buggin'. I had to haul ass to the kitchen, redistribute the food, squish in extra place settings. But, by the end of the day it was, like, the more the merrier!", source: "Clueless (1995)" },
        { text:"Everything is simply a shape, a form, an identifier to let others recognize me as me! But then, what am I? Is this me? My true self? My fake self? What is it that I am? Nobody understands me!", source: "Neon Genesis Evangelion" },
        //{ text:"Life is not a waste of time. And time is not a waste of life. So let's stop wasting time, get wasted, and have the time of our lives.", source: "Pitbull on X" },
        { text:"I don't want to live in a hole anymore. It makes me feel poor. We are poor, but we're happy. Comme-ci, comme-ca. Anyway, the views are better above ground. I'm seven non-fox-years old now. My father died at seven and a half. I don't want to live in a hole anymore, and I'm going to do something about it.", source: "Fantastic Mr. Fox (2009)" },
        { text:"I don't talk about feelings, Alfred. I don't have any, I've never seen one. I'm a night-stalking, crime-fighting vigilante, and a heavy metal rapping machine. I don't feel anything emotionally, except for rage.", source: "The LEGO Batman Movie (2017)" },
        { text:"Ask for money and get advice, huh. Ask for advice, get money twice, huh.", source: "Pitbull - Feel This Moment"},
        //{ text:"I farted on your pillow, I was tryna give you pinkeye, cause I don't want you looking at nobody else but me. <3", source: "Jay Eazy - PinkEye"},
        { text:"Luh-Lloyd? That's right. It's me. Your son! And it's Lloyd, dad! No. L-L-O-Y-D. I named you. You ruined my life! How can I ruin your life? I wasn't even there!", source: "The Lego Ninjago Movie (2017)" },
        { text:"Sc- scale of one to ten, how bad is it? Oh, I'd say it's about a seven... point... arm-ripped-off? My arm is what?!", source: "The Lego Ninjago Movie (2017)" },
        //{ text:"I hate Summer. I hate her crooked teeth. I hate her 1960s haircut. I hate her knobby knees. I hate her cockroach-shaped splotch on her neck. I hate the way she smacks her lips before she talks. I hate the way she sounds when she laughs.", source: "(500) Days Of Summer (2009)" },
        //{ text:"I prayed for the death of Heather Chandler many times and I felt bad every time I did it but I kept doing it anyway. Now I know you understood everything. Praise Jesus, Hallelujah.", source: "Heathers (1988)" },
        //{ text:"I'm getting real tired of you picking on me! It won't be so fun when the shoe's on the other foot! Are you threatening me? ...Are you threatening me in Skechers?", source: "Class of 2009 " },
        { text:"Are you the strongest because you're Satoru Gojo? Or are you Satoru Gojo because you're the strongest?", source: "Jujutsu Kaisen" },
        { text:"SHE'S MINE!!! YOU STAY AWAY FROM HER, IT'S NOT HER TIME!", source: "Pierce The Veil - A Match Into Water" },
        { text:"I don't know, man. I think it's official. I'm in love with Summer. I love her smile. I love her hair. I love her knees. I love this heart-shaped birthmark she has on her neck. I love the way she sometimes licks her lips before she talks. I love the sound of her laugh. I love the way she looks when she's sleeping.", source: "(500) Days Of Summer (2009)" },
        { text:"The missile is very tired. He is eepy. The missile has had a very long day of splashing bandits and wants to take just a smol sleeb. He eeby and neebies to sleeby. Mibsile sleepy and need bed-bye time. The missile is currently experiencing critical levels of being a sleevjy little guy and needs to go to bedb. He is ver tired and needs to slep. Just a little sleejing time as a treat. Midsilylele needs to slek, ver twired boyo, just a lil guy. Mibsipillibille needs his beaty sleeb. Look at him go! He yawn big cause he skeejy, needs to falafel asleep. Nini time! Goodnight, mister the missile.", source: "The Missile Is Eepy Copypasta" },
        { text:"I had a grat tim win I was chechicret. I had las avi macup on my fas.", source: "kingdaddy - Vine" },
        { text:"Stop acting like you know the way ahead, like you know the rules. There are no rules, man, we're lost.", source: "The Walking Dead" },
        //{ text:"These hips do lie, and they lied to you Buck. Shakira, Shakira.", source: "Q-Force" },
        { text:"At least the devil has a job. At least he's active in the community. What do you do? You eat our food, and make gadgets.", source: "Rick And Morty" },
        { text:"L-L-O-Y-D! His dad is bad and so is he! Boo, Lloyd!", source: "The Lego Ninjago Movie (2017)" },
        { text:"Vengo Corriendo Que Quiero Ser La Primera Persona En Desearte un Feliz Jueves!!!", source: "Mi Lugar Favorito (Running Asuka)" },
        //{ text:"I wish we could get back at Matsu-sucky-pervy-snoopy-cocky-yucky-jerky. Dang, Matsu-sucky-pervy-snoopy-cocky-yucky-jerky!", source: "Saiki K" }
        { text:"The elegant harmony of an everyday folding chair, juxtaposed with an object one can only call art.", source: "Saiki K" },
        { text:"Hey, just wondering if you got those photos printed? bogos binted? what", source: "Bogos Binted" },
        { text:"WHAT?! THIS IS A MOMENT IN HISTORY. TAKE A PICTURE!", source: "Caseoh" },
        { text:"Neil Gaiman? What are you doing in my falafel?", source: "Arthur" },
        { text:"Knuckles, you were great up there. You're actually a lot smarter than we give you credit for. Me am?! Forget I said anything.", source: "Sonic Boom" },
        { text:"I'm light as a feather. I'm the Bake-O-Lite Girl.", source: "Wallace & Gromit: A Matter of Loaf and Death (2008)" },
        { text:"Nicholas Dokonokuminomonjawaresumakinishiteshizumetarokakora Wolfwood", source: "Trigun Stampede" },
        { text:"Grandfather please stand on the shoulders of my father while he's deep-sea fishing - Did you know that there's a tunnel under Ocean Blvd", source: "Lana Del Ray" },
        { text:"Well, who cuts people's hair in the middle of the night? I do! They call me the Midnight Barber. Yeah, well that's an infringement of people's liberties. So don't ever be doing that to me. I DO do it to you....what? Who d'you think cuts your hair, Einstein? My hair just doesn't grow very fast. What, you think it stays that length naturally? I'm in there in the night, styling away. How dare you do that to me in the night, when I'm oblivious. I do my best work when you're oblivious.", source: "The Mighty Boosh" },
        { text:"But you know, whatever. Hug hug, kiss kiss, hug hug, big kiss, little hug, kiss kiss, little kiss.", source: "Nacho Libre (2006)" },
        { text:"Regina, wait! I didn't mean for that to happen! To find out that everyone hates me? I don't care! Regina, please! Regina, stop! No! Do you know what everyone says about you? They say that you're a home-schooled jungle freak, who's a less hot version of me! Yeah! So don't try to act so innocent! You can take that fake apology and shove it right up your hairy—", source: "Mean Girls (2004)" },

        // Add more quotes as needed
    ];

    const textElement = document.getElementById("text-to-type");
    const userInput = document.getElementById("user-input");
    const retryButton = document.getElementById("retry-btn");
    const quoteSourceElement = document.getElementById("quote-source");
    const warningMessage = document.getElementById("warning-message");
    const wpmElement = document.getElementById("wpm");
    const accuracyElement = document.getElementById("accuracy");
    const errorSound = new Audio("error.mp3");

    let currentQuoteIndex = -1;
    let startTime;
    let wordCount;
    let correctCharacters = 0;
    let totalCharacters = 0;

    function shuffleQuotes() {
        for (let i = quotes.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [quotes[i], quotes[j]] = [quotes[j], quotes[i]];
        }
    }

    function startGame() {
        shuffleQuotes();
        currentQuoteIndex = 0;
        const currentQuote = quotes[currentQuoteIndex];

        textElement.innerText = currentQuote.text;
        quoteSourceElement.innerText = "";
        userInput.removeAttribute("disabled");
        userInput.value = "";
        userInput.classList.remove("incorrect");
        userInput.focus();

        retryButton.style.display = "none";
        warningMessage.style.display = "none";
        wpmElement.innerText = "";
        accuracyElement.innerText = "";
        startTime = new Date().getTime();
        wordCount = 0;
        correctCharacters = 0;
        totalCharacters = currentQuote.text.replace(/\s+/g, "").length;
    }

    function endGame() {
        userInput.setAttribute("disabled", "true");
        retryButton.style.display = "block";
        warningMessage.style.display = "block";

        quoteSourceElement.innerText = `Quote from: ${getCurrentQuote().source}`;

        const elapsedTime = (new Date().getTime() - startTime) / 1000;
        const minutes = Math.floor(elapsedTime / 60);
        const seconds = Math.round(elapsedTime % 60);

        if (wordCount > 0) {
            const wpm = calculateWPM(wordCount, elapsedTime);
            wpmElement.innerText = `WPM: ${wpm}`;
        }

        if (totalCharacters > 0) {
            const accuracy = calculateAccuracy(correctCharacters, totalCharacters);
            accuracyElement.innerText = `Accuracy: ${(accuracy / 100).toFixed(2)}%`;
        }

        if (getCurrentQuote().text.toLowerCase() === "But I know a place we can escape".toLowerCase()) {
            window.location.href = "alien";
        }
    }

    function getCurrentQuote() {
        return quotes[currentQuoteIndex] || { source: "Unknown" };
    }

    userInput.addEventListener("input", function () {
        const userInputText = userInput.value;
        const targetText = textElement.innerText;

        let isMistake = false;

        for (let i = 0; i < userInputText.length; i++) {
            if (userInputText[i] !== targetText[i]) {
                isMistake = true;
                break;
            } else {
                correctCharacters++;
            }
        }

        if (isMistake) {
            userInput.classList.add("incorrect");
            const errorSound = document.getElementById("error-sound");
            if (errorSound) {
                errorSound.play();
            }
        }

        if (userInputText === targetText) {
            const words = userInputText.split(/\s+/).filter(word => word !== "");
            wordCount += words.length;
                endGame();
            
        }
    });

    retryButton.addEventListener("click", startGame);

    startGame();
});


function calculateWPM(words, time) {
    const minutes = time / 60;
    const wpm = Math.round(words / minutes);
    return wpm;
}

function calculateAccuracy(correct, total) {
    return ((correct / total) * 100);
}
</script>
{% endblock %}