{% extends "layout.html" %}
{% block styles %}
    <link href='{{url_for("static", filename="stylesheets/stats.css")}}' rel='stylesheet'/>
    <link href='{{url_for("static", filename="stylesheets/layout.css")}}' rel='stylesheet'/>
{% endblock %}
{% set title="Statistics" %}

{% block b %} active-bar{% endblock %}
{% block content %}
<h1>
    <div class="tests_gen">387 tests generated</div>
    <div class="words_typed">3690 words typed correctly</div>
    <div class="wpm">34 words per minute</div>
    <div class="nine">94% average completion</div>

    <img class="dos" src='/static/img/pie2.png'>
    <img class="one" src='/static/img/pie1.png'>
    <img class="in_naming_we_pray" src='/static/img/pie3.png'>
        
</h1>
{% endblock %}
