{% extends 'layout.html' %}
{% set title="Test" %}
{% block styles %}
    <link href='{{url_for("static", filename="stylesheets/test.css")}}' rel='stylesheet'/>
    <link href='{{url_for("static", filename="stylesheets/layout.css")}}' rel='stylesheet'/>
{% endblock %}
{% block e %} active-bar {% endblock %}
{% block content %}

<form>
     
    <textarea name = "message" class="form-control m-2" rows="5" id="comment"></textarea>
      
      <input type="hidden" name="_gotcha" style="display:none !important">
     
      
      
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>

{% endblock %}