{% extends "layout.html" %}
{% set title="Typing game" %}
{% block e %} active-bar {% endblock %}
{% block styles %}
    <link href='{{url_for("static", filename="stylesheets/layout.css")}}' rel='stylesheet'/>
    <link href='{{url_for("static", filename="stylesheets/typegame.css")}}' rel='stylesheet'/>
{% endblock %}

{% block content %}
<body>
  <div class="outer">
    <div id="bubbles-box">
      <div id="game-container"><button id="start" type="button" onclick="startCountdown()">Click to start game!</button></div>
    </div>

    <div class="inputs">
      <div class="rowboard">
        <div class="scoreboard">
          <div class="scorelabel"><p>Score:</p> <span id="word-count" class="h3 text-center">0</span></div>
        </div>
        <div class="scoreboard">
          <div class="scorelabel"><p>Time Left:</p><span id="timer">30</span></div>
        </div>
      </div>
      <input type="text" id="typing-bar" placeholder="Type here">
    </div>
  </div>

  <div id="game-over">
    <p>Game Over!</p>
    <p id="wpm">Words Per Minute: 0</p>
    <p id="final-count">Words Typed: 0</p>
    <a href="typegame"></a><button id="play-again"><p>Play Again</p></button></a>
  </div>

  <script>
    const start = document.getElementById('start');
    const gameContainer = document.getElementById('game-container');
    const typingBar = document.getElementById('typing-bar');
    const timerElement = document.getElementById('timer');
    const gameOverElement = document.getElementById('game-over');
    const wpmElement = document.getElementById('wpm');
    const finalCount = document.getElementById('final-count');
    const wordCountElement = document.getElementById('word-count');
    const playAgainButton = document.getElementById('playAgainButton');
    const words = ['magic', 'spell', 'wizard', 'fantasy', 'enchant', 'dragon', 'castle', 'adventure', 'sorcerer', 'potions', 'mythical', 'alchemy', 'creatures', 'realm', 'mystical', 'cursed', 'quest', 'phoenix', 'mage', 'medieval', 'scroll', 'fairy', 'unicorn', 'mermaid', 'goblin', 'warlock', 'amulet', 'arrow', 'ancient', 'awaken', 'battle', 'beast', 'bewitch', 'bishop', 'brave', 'cauldron', 'centaur', 'crown', 'heroic', 'lock', 'lore', 'mirror', 'skull', 'spear', 'storm', 'sword', 'throne', 'wand'];

    let timerSeconds = 30;
    let timerInterval;
    let wordsTyped = 0;
    let startTime;
    let gameActive = false;

    function startCountdown() {
      let countdown = 3;

      const countdownInterval = setInterval(() => {
        if (countdown > 0) {
          gameContainer.innerHTML = `<h1>${countdown}</h1>`;
          countdown--;
        } else {
          clearInterval(countdownInterval);
          startTime = Date.now();
          timerInterval = setInterval(updateTimer, 1000);
          gameActive = true;
          updateGame();
          gameContainer.innerHTML = ``;
        }
      }, 1000);
    }

const numRows = 3;
const numCols = 8;
const grid = Array.from({ length: numRows }, () => Array(numCols).fill(false));

let availableSpots = numRows * numCols;

function createBubble() {
  if (!gameActive || availableSpots === 0) return;
  
  const cellSizeX = gameContainer.offsetWidth / numCols;
  const cellSizeY = gameContainer.offsetHeight / numRows;

  let bubbleCreated = false;

  while (!bubbleCreated) {
    const randomRow = Math.floor(Math.random() * numRows);
    const randomCol = Math.floor(Math.random() * numCols);

    if (!grid[randomRow][randomCol]) {
      const bubble = document.createElement('div');
      bubble.classList.add('bubble');

      const top = randomRow * cellSizeY;
      const left = randomCol * cellSizeX;
      bubble.style.top = `${top}px`;
      bubble.style.left = `${left}px`;

      const randomWord = words[Math.floor(Math.random() * words.length)];
      bubble.innerText = randomWord;

  typingBar.addEventListener('input', (event) => {
      const inputValue = event.target.value.toLowerCase();
      const bubbles = document.querySelectorAll('.bubble');

      bubbles.forEach((bubble) => {
        const bubbleText = bubble.innerText.toLowerCase();

        if (inputValue === bubbleText) {
          bubble.style.display = 'none';
          wordsTyped++;
          document.getElementById('word-count').textContent = wordsTyped;
          typingBar.value = '';
          grid[randomRow][randomCol] = false; 
          availableSpots++;
        }
      });
    });


      gameContainer.appendChild(bubble);
      grid[randomRow][randomCol] = true; // Mark the cell as occupied
      availableSpots--; // Decrease available spots
      bubbleCreated = true;
    }
  }
}

    function updateGame() {
      createBubble();
      setTimeout(updateGame, 1500);
    }
    
    function updateTimer() {
      const elapsedSeconds = Math.floor((Date.now() - startTime) / 1000);
      const remainingSeconds = Math.max(timerSeconds - elapsedSeconds, 0);
      timerElement.textContent = `${remainingSeconds}s`;

      if (remainingSeconds === 0) {
        clearInterval(timerInterval);
        endGame();
      }
    }

    function endGame() {
      const wordsPerMinute = Math.round((wordsTyped / 30) * 60);
      wpmElement.textContent = `Words Per Minute: ${wordsPerMinute}`;
      finalCount.textContent = `Words Typed: ${wordsTyped}`;
      gameOverElement.style.display = 'block';
      gameActive = false;
    }

    function resetGame() {
      timerSeconds = 30;
      wordsTyped = 0;
      startTime = null;
      timerElement.textContent = `${timerSeconds}s`;
      clearInterval(timerInterval);
      gameActive = true;

      const bubbles = document.querySelectorAll('.bubble');
      bubbles.forEach((bubble) => bubble.remove());

      startCountdown();  
      gameOverElement.style.display = 'none';
    }

    function startGame() {
      startTime = Date.now();
      timerInterval = setInterval(updateTimer, 1000);
      updateGame();

      playAgainButton.addEventListener('click', startGame);
    }


  


    
// Darkmode Script!
document.addEventListener("DOMContentLoaded", function() {
    const darkModeToggle = document.getElementById("dark-mode-toggle");
    const navbar = document.getElementById("navbar");
    const darkmodetext = document.querySelector(".darkmodetext");
  
    // Function to set dark mode styles
    function enableDarkMode() {
        document.body.style.backgroundImage = "url('/static/img/darkbackground.png')";
        navbar.classList.remove("navbar-light");
        navbar.classList.add("navbar-dark");
        darkmodetext.classList.add("darkmodetext2");
        // Save dark mode preference to localStorage
        localStorage.setItem("darkModeEnabled", "true");
    }
  
    // Function to set light mode styles
    function disableDarkMode() {
        document.body.style.backgroundImage = "url('/static/img/background.png')";
        navbar.classList.remove("navbar-dark");
        navbar.classList.add("navbar-light");
        darkmodetext.classList.remove("darkmodetext2");
        // Save light mode preference to localStorage
        localStorage.setItem("darkModeEnabled", "false");
    }
  
    // Event listener for dark mode toggle change
    darkModeToggle.addEventListener("change", () => {
        if (darkModeToggle.checked) {
            // Enable dark mode
            enableDarkMode();
        } else {
            // Disable dark mode
            disableDarkMode();
        }
    });
  
    // Function to apply navbar styles based on dark mode preference
    function applyNavbarStyles(isDarkMode) {
        if (isDarkMode) {
            navbar.classList.remove("navbar-light");
            navbar.classList.add("navbar-dark");
        } else {
            navbar.classList.remove("navbar-dark");
            navbar.classList.add("navbar-light");
        }
    }
  
    // Check and apply dark mode setting from localStorage on page load
    const isDarkModeEnabled = localStorage.getItem("darkModeEnabled") === "true";
    if (isDarkModeEnabled) {
        darkModeToggle.checked = true;
        enableDarkMode(); // Apply dark mode styles if enabled in localStorage
        applyNavbarStyles(true); // Apply navbar styles based on dark mode preference
    } else {
        disableDarkMode(); // Apply light mode styles by default
        applyNavbarStyles(false); // Apply navbar styles based on light mode preference
    }
  });
  </script>
  
  </body>
  </html>
{% endblock %}