{% extends "layout.html" %}
{% block c %} active-bar {% endblock %}
{% set title="How To Type" %}
{% block content %}
<iframe width="100%" height="500" src="https://www.youtube.com/embed/vXsutlz0GIQ?si=BdxfL8ddX7Guvl5V" title="YouTube video player" frameborder="10"></iframe>
{% endblock %}
<!-- just in case -->

<!--<iframe width="500%" height="500" src="https://www.youtube.com/embed/vXsutlz0GIQ?si=BdxfL8ddX7Guvl5V" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>-->